/* p {
    font-size: 20px;
    color: "#ff0000";
}

.p-last{
    color: rgb(255, 0, 0, 1)
} */

/* h1 {
    color: rgb(0, 0, 255)
} */

/* .heading-1 {
    text-align: left;
}
.heading-2 {
    text-align: right;
}
.heading-3 {
    text-align: top;
}
.heading-4 {
    text-align: left;
} */
.first-block {
    margin-top: 20px;
    margin-bottom: 20px;

}

.second-block {
    margin-top: 10px;
    margin-bottom: 50px;
}

p {
}

div {
}

img {
}

#first-block {
}

[class="second-block"] {
}

* {
}
